{% extends 'jobs/base.html' %}

{% block content %}

{% for job in jobs %}

<div id="job" class="job">
    <div class="job-title">
        <h5 class="{{ job.job_type }} job-type">{{ job.job_type }}</h5>
        <h3 class='job-title'>{{ job.title }}<span class="job-co"> on {{ job.company }}</span>
    </div>
    <div class="clearfix">
        <p><h6 class="timestamp">{{ job.timestamp|date:"d F Y" }}</h6></p>
        <p class="job-description"> {{ job.description|linebreaks|truncatechars:200 }}</p>
        <div>
        	<span class="job-category">{{ job.category }}</span>
        	<a class="btn btn-success read-more" href="{% url 'job_detail' slug=job.slug %}">Concorrer a esta vaga</a>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}
