{% extends 'jobs/base.html' %}

{% load humanize %}

{% block title %} Vaga para {{ job.title }} em Vagas TI Recife {% endblock %}

{% block content %}
<div class="container">
  <div class="job-detail row">
    <div class="col-md-10 col-md-offset-1">
      {% if messages %}
        <ul class="messages"> 
        {% for message in messages %}
          <li {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}> 
            <span class="glyphicon glyphicon-ok-circle"></span>{{ message }}
          </li>
        {% endfor %}
      {% endif %}
        </ul>
      <div class="col-md-9 col-xs-9">
        <p><a href="{% url "index" %}">← Voltar</a></p>
        <span class="detail-timestamp">{{ job.timestamp|date:'d F' }}</span>
        <h1 class="detail-title">{{ job.title }}</h1>
        <div class="detail-about">
          <h4>Sobre a empresa</h4>
          <p>{{ job.about|linebreaks }}</p>
        </div>
        <div class="detail-description">
          <h4>Descrição da vaga</h4>
          <p>{{ job.description|linebreaks }}</p>
        </div>
        <div class="detail-about">
          <h4>Habilidades necessárias</h4>
          <p>{{ job.skills|linebreaks }}</p>
        </div>
      </div>
      <aside class="job-detail col-md-3 col-xs-3">
        <div class="detail-info">
          <h4><span class="fa fa-building"></span><a href="{{ job.site }}" target='_blank'>{{ job.company }}</a></h4>
          <h4><span class="fa fa-suitcase"></span>{{ job.category }}</h4>
          <h4><span class="fa fa-usd"></span>{% if not job.salary %} N/A {% else %} R$ {{ job.salary|intcomma }} {% endif %}</h4>
          <h4><span class="fa fa-home"></span>{{ job.job_type|title }}</h4>
        </div>
        <div class="detail-interest">
          <h4>Se interessou pela <strong>vaga?</strong></h4>
          <p><a href="{{ job.url }}" target="_blank">Participe da seleção</a> e boa sorte!</p>
        </div>
        <div>
          <h3>Contatos</h3>
          <p>{{ job.email }}</p>
        </div>
        <div class="detail-share">
          <h3>Compartilhe!</h3>
          <a href="" target='_blank'><span class="face fa fa-3x fa-facebook-square"></span></a>
          <a href="" target='_blank'><span class="link fa fa-3x fa-linkedin-square"></span></a>
          <a href="" target='_blank'><span class="twit fa fa-3x fa-twitter-square"></span></a>
        </div>
      </aside>
    </div>
  </div>
</div>
{% endblock content %}
