* {
    margin: 0;
    padding: 0;
}

.row {
    margin-bottom: 15px;
}

h1, h3 {
  font-family: 'Oxygen', sans-serif;
}

.header {
    margin: 3rem 0;
}

.header .btn-job {
    float: right;
}

.logo {
    font-size: 2.7rem;
    margin: 0;
    text-transform: uppercase;
}

.logo a {
  text-decoration: none;
  color: #34495e;
}

.logo span {
    font-weight: bolder;
}

.job {
    border: 1px solid;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    border-radius: 7px;
}

.job-title {
    font-weight: bold;
}

.main-menu {
    display: block;
    list-style: none;
    float: right;
}

.main-menu li {
    display: inline-block;
    padding-top: 0.7rem;
}

.main-menu li a {
    font-weight: bold;
    text-transform: uppercase;
    color: #34495e;
    padding-right: 1.4rem;
}

.main-menu li a:hover {
    text-decoration: none;
    color: #7f8c8d;
    transition: all 0.2s ease-in-out;
}

.main-menu li:last-child a{
    border-radius: 4px;
    text-align: center;
    color: #fff;
    padding: 0.8em;
    background-color: #e74c3c;
    box-shadow: #666666;
}

.main-menu li:last-child a:hover {
    background-color: #c0392b;
}

.job-co {
    font-size: 0.6em;
    font-weight: bold;
    font-style: italic;
}

.read-more {
    font-size: 1.2rem;
    margin: 0 1rem 1rem 0;
    float: right;
}

.job-type {
    float: right;
    text-transform: uppercase;
    font-weight: bolder;
    color: #2c3e50;
    margin: 1% 2% 0 0;
}

.presencial {
    color: #e67e22;
}

.remoto {
    color: #27ae60;
}

.freelancer {
    color: #3498db;
}

.mobile-nav, .mobile-btn, .mobile-logo {
    display: none;
}

/* MOBILE MENU */

@media screen and (max-width: 768px) {
    .mobile-nav {
        display: block;
        height: 40px;
        width: 100%;
    }

    .logo {
        display: none;
    }

    .mobile-btn {
        display: block;
        margin: 0.25em 0.5em 0 0;
        color: black;
        float: right;
    }

    .mobile-btn:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
        display: table-cell;
    }

    .mobile-logo {
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 0.3em;
        display: block;
    }

    .mobile-logo a {
        color: black;
    }

    .mobile-logo a:hover {
        text-decoration: none;
    }

    .main-menu {
        float: none;
        overflow: hidden;
        display: none;
    }

    header nav ul.open {
        height: auto;
    }

    .main-menu li {
        display: block;
        width: 100%;
        border-bottom: 1px solid #505050;
        text-align: left;
    }

    .main-menu li:last-child a{
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: none;
    }
}